.avatar {
  transform: scale(1.1) !important; /* or whatever zoom scale you want */
  transition: none !important;      /* disable smooth zoom on hover */
}

.site-avatar {
  transform: scale(1.2) !important;
  transition: none !important;
}

.site-avatar:hover {
  transform: scale(1.2) !important;
}